In [2]:
import math

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.sandbox.regression.predstd import wls_prediction_std

%matplotlib inline
sns.set_style('white')

data = pd.read_csv('/Users/tongzhang/Downloads/Advertising.csv',index_col=0)
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [3]:
# Write out the model formula.
# Your dependent variable on the right, independent variables on the left
# Use a ~ to represent an '=' from the functional form
linear_formula = 'Sales ~ TV+Radio'

# Fit the model to our data using the formula.
lm = smf.ols(formula=linear_formula, data=data).fit()
lm.params

Intercept    2.921100
TV           0.045755
Radio        0.187994
dtype: float64

In [4]:
lm.pvalues

Intercept    4.565557e-19
TV           5.436980e-82
Radio        9.776972e-59
dtype: float64

In [5]:
lm.rsquared #R square doesn't change much when newspaper is removed.

0.89719426108289557